<ion-header [translucent]="true" class="ion-no-border">
 
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="refresh()" >
          <ion-icon slot="icon-only" name="refresh-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="Buscar Pais"
                      animated
                      (ionChange)="BuscarPais($event)"></ion-searchbar>
    </ion-toolbar>
      

</ion-header>

<ion-content *ngIf="paises" [fullscreen]="true">
  <ion-card  *ngFor="let pais of paises ">
    <img width="100%" src="{{pais.countryInfo.flag}}" />
    <ion-card-header>
      <ion-row>
        <ion-col size="12">
          <ion-card-subtitle>{{pais.country}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle color="primary">Casos: {{pais.cases | currency:'':'':'0.0'}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6">
          <ion-card-subtitle>Casos Hoy: {{pais.todayCases | currency:'':'':'0.0'}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Muertes: {{pais.deaths | currency:'':'':'0.0'}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6">
          <ion-card-subtitle>Muertes hoy: {{pais.todayDeaths | currency:'':'':'0.0'}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
      
    </ion-card-header>

  </ion-card>

  <div *ngIf="!datos" class="ion-text-center ion-padding">
    <h4>No hay mas datos</h4>
  </div>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando mas datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
