

<ion-header [translucent]="true" >
  <ion-toolbar *ngIf="datos" color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="refresh()" >
        <ion-icon slot="icon-only" name="refresh-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar class="ion-padding" slot="start">
      <img src="{{datos.countryInfo.flag}}" alt="">
    </ion-avatar>
    <ion-title class="ion-text-center">{{datos.country}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="datos" [fullscreen]="true">

  <ion-row>
    <ion-col size="6">
      <ion-card-header color="primary">
        <ion-card-subtitle><strong>Total Casos</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.cases | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
    <ion-col size="6">
      <ion-card-header color="primary">
        <ion-card-subtitle><strong>Casos Hoy</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.todayCases | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card-header color="danger">
        <ion-card-subtitle><strong>Total Muertes</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.deaths | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
    <ion-col size="6">
      <ion-card-header color="danger">
        <ion-card-subtitle><strong>Muertes hoy</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.todayDeaths | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card-header color="warning">
        <ion-card-subtitle><strong>Casos Activos</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.active | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
    <ion-col size="6">
      <ion-card-header color="warning">
        <ion-card-subtitle><strong>Casos Criticos</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.critical | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card-header color="success">
        <ion-card-subtitle><strong>Total Recuperados</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.recovered | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
    <ion-col size="6">
      <ion-card-header color="success">
        <ion-card-subtitle><strong>Recuperados Hoy</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.todayRecovered | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card-header color="secondary">
        <ion-card-subtitle><strong>Pruebas Realizadas</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.tests | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
    <ion-col size="6">
      <ion-card-header color="secondary">
        <ion-card-subtitle><strong>Cantidad Habitantes</strong></ion-card-subtitle>
        <ion-card-subtitle>{{datos.population | currency:'':'':'0.0'}}</ion-card-subtitle>
      </ion-card-header>
    </ion-col>
  </ion-row>


</ion-content>
